services:
  forms-manager:
    build:
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      PORT: 3001
      # Mongo
      MONGO_URI: mongodb://host.docker.internal:27017/?replicaSet=rs0&directConnection=true
      MONGO_DATABASE: forms-manager
      # OIDC (override for your IdP)
      OIDC_JWKS_URI: ${OIDC_JWKS_URI:-https://example.invalid/jwks.json}
      OIDC_VERIFY_AUD: ${OIDC_VERIFY_AUD:-forms-manager}
      OIDC_VERIFY_ISS: ${OIDC_VERIFY_ISS:-https://example.invalid/}
      ROLE_EDITOR_GROUP_ID: ${ROLE_EDITOR_GROUP_ID}
      # Entitlement API
      ENTITLEMENT_URL: http://host.docker.internal:3004
      FEATURE_FLAG_USE_ENTITLEMENT_API: ${FEATURE_FLAG_USE_ENTITLEMENT_API}
      # Events/storage (Localstack)
      FORM_DEF_BUCKET_NAME: form-definition-storage
      AWS_REGION: eu-west-2
      SNS_ENDPOINT: http://host.docker.internal:4566
      S3_ENDPOINT: http://host.docker.internal:4566
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      # SNS topic used for publishing events
      SNS_TOPIC_ARN: arn:aws:sns:eu-west-2:000000000000:forms_manager_events
      TRACE_HEADER: x-trace-id
      LOG_LEVEL: info
    ports:
      - '3001:3001'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    network_mode: host